.chapter-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
}

.back {
  display: flex;
  gap: 15px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.sessions {
  display: flex;
}
